#Fast Computation

In [52]:
# constants (literals)
2395210 * 3456784

8279723604640

In [53]:
# expressions
(890 + 345) / 2.0

617.5

In [54]:
10

10

# pseudocode

In [55]:
# variables
first_num = 3
second_num = 4

print first_num * second_num

first_num = 5

print first_num * second_num

12
20

In [56]:
import math

In [57]:
math.sqrt(36)

6.0

In [58]:
def my_multiplier(input1, input2):
    return input1 * input2

In [59]:
my_multiplier(first_num, 4)

20

In [60]:
my_output = my_multiplier(3, 5)

In [61]:
print my_output

15

In [62]:
product * product

68553822969232795029529600L

---

In [63]:
# function definition (including signature with parameters)
def multiply(multiplcand1, multiplicand2):
    return multiplcand1 * multiplicand2

In [64]:
# function call (with arguments) 
multiply(first_num, second_num)

20

In [65]:
# save function result
new_product = multiply(12345, 67890)

In [66]:
print "New Product: ", new_product

New Product:  838102050

In [67]:
# arguments can be expressions
print "New Product: ", multiply((4 + 5), (6 + 7))

New Product:  117